.env
venv/
venv*/
__pycache__/
*.pyc
.DS_Store
*.log
*.db
ai_core/data/raw/
ai_core/data/processed/
ai_core/data/augmented/
ai_core/models/**/*.pt
ai_core/models/**/*.onnx
ai_core/models/**/*.torchscript
ai_core/models/**/*.pkl
runs/

ai_core/models/*.pt
ai_core/data/raw/
ai_core/data/processed/
ai_core/data/augmented/

uploads/
heatmaps/
.vscode/settings.json
.vscode/
datasets/
weights/
